<% if current_admin %>
    <h2>You're already logged in!</h2>
    <%= link_to "Logout", '/logout', method: :delete %>
<% end %>

<h3> Already have an admin account?</h3>
<%= link_to "Login", '/admins/login' %>

<%= form_with model: @admin, local: true do |form| %>
    <%= form.label :username %>
    <%= form.text_field :username, required: true %>
    <br>
    <br>
    <%= form.label :email %>
    <%= form.text_field :email, required: true %>
    <br>
    <br>
    <%= form.label :password %>
    <%= form.text_field :password, required: true %>
    <br>
    <%= form.label :password_confirmation %>
    <%= form.text_field :password_confirmation, required: true %>
    <br>
    <%= form.submit "Create Admin" %>
<% end %>