<div>
<br>
<h3>Results will display on the next page(s)</h3>
<h3>and be emailed to you</h3>
<%= form_with url: '/', method: :post, local: true do |form|%>
    <%= form.label :email %>
    <%= form.text_field :email, required: true %>
    <br>
    <br>
    <%= form.label :weight %>
    <%= form.number_field :weight, required: true %>
    <br>
    <br>

    <h2>Biological Sex: </h2>
    <%= form.radio_button :sex, 'male', required: true %>
    <%= form.label :sex, "Male" %>
    <%= form.radio_button :sex, 'female' %>
    <%= form.label :sex, "Female" %>

    <h2>Body Composition: </h2>
    <%= form.select :bodycomp, [["Less than 10%",'<10'],["10-15%",'10-15'],['16-20%','16-20'], ['Over 20%','20+']], required: true %>

    <p>How to choose your body composition: </p>
    <ul>
        <li><strong>Sub 10%</strong> = You look like a fitness model (men)</li>
        <li><Strong>10-15%</Strong> = Visible abs, but not absolutely shredded (men); you look like a fitness model (women)</li>
        <li><Strong>16-20%</Strong> = Flattish stomach, but no visible abs (men); athletic, but not exceptionally lean (women)</li>
        <li><Strong>20+%</Strong> = A bit of a belly(men); flat stomach, but not much muscle tone (women)</li>
    </ul>

    <h2>Activity Level: </h2>
    <%= form.select :activity_level, [["Low",'low'],["Moderate",'moderate'],['High','high']], required: true %>

    <p>How to choose your activity level:</p>
    <ul>
        <li><strong>Low</Strong> = Mostly sitting (office work)</li>
        <li><strong>Moderate</Strong> = Walking and being on your feet throughout most days</li>
        <li><strong>High</Strong> = Construction or other manual labor</li>
    </ul>

    <h2>Training Load:</h2>
    <%= form.select :training_load, [["4 Hours or Less",'sub4'],["5 to 8 Hours",'5-8'],['9 to 12 Hours','9-12'], ['12+ Hours','12+']], required: true %>

    <h2>Food Preference:</h2>
    <%= form.select :fc_pref, [["Prefer More Carbs",'carbs'],["Prefer More Fats",'fats'],["Equal Mix",'equal mix']], required: true %>

    <h2>Goal:</h2>
    <%= form.select :goal, [["Performance",'performance'],["Fat Loss",'fat loss'],["Muscle Gain",'muscle gain']], required: true %>
    <p>How to choose your goal:</p>
      <ul>
        <li><strong>Performance</Strong> = You care the most about recovering from training for improved performance and aren't trying to make large body composition changes.</li>
        <li><strong>Fat Loss</Strong> = Your main goal is to lose bodyfat, and are willing to accept slightly reduced performance in the pursuit of this goal.</li>
        <li><strong>Muscle Gain</Strong> = You are looking to gain muscle, and your training is aligned to support this goactivity_level.</li>
    </ul>
    
    <%= form.submit "Submit" %>
<% end %>
<br>

</div>