<%# <div style="background-image:url(<%= image_path('backg.jpeg'))"> %>
<br>
<h1><%= @phase.name.titleize %> Phase Macros</h1>
<h3>Goal: <%= @person.goal.titleize %></h3>
<h3>Total calories: <%= @phase.kcal.round(0) %></h3>

<table>
    <tr>
        <th>Nutrient</th>
        <th>Grams</th>
        <th>Calories</th>
        <th>Percent</th>
    </tr>
    <tr>
        <td>Protein</td>
        <td><%= @phase.protein_grams.round(0) %></td>
        <td><%= @phase.protein_cals.round(0) %></td>
        <td><%= @phase.protein_percent.round(0) %></td>
    </tr>
    <tr>
        <td>Fats</td>
        <td><%= @phase.fat_grams.round(0) %></td>
        <td><%= @phase.fat_cals.round(0) %></td>
        <td><%= @phase.fat_percent.round(0) %></td>
    </tr>
    <tr>
        <td>Carbohydrates</td>
        <td><%= @phase.carb_grams.round(0) %></td>
        <td><%= @phase.carb_cals.round(0) %></td>
        <td><%= @phase.carb_percent.round(0) %></td>
    </tr>
</table>
<br>
<h3>Visual macro breakdown (hover for details)</h3>
<%= pie_chart Phase.select(:fat_percent, :protein_percent, :carb_percent).where("person_id = ? AND id = ?", @person.id, @phase.id)[0], round: 0, suffix: "%", legend: false  %>
<br>
<h2>Macros: 3 Meals Per Day </h2>
<table>
    <tr>
        <th>Nutrient</th>
        <th>Grams / Meal</th>
        <th>Servings / Meal</th>
    </tr>
    <tr>
        <td>Protein</td>
        <td><%= @phase.macros_per_meal_3[:protein_grams].round(0) %></td>
        <td><%= ((@phase.protein_grams / 25) / 3).round(1) %></td>
    </tr>
     <tr>
        <td>Fats</td>
        <td><%= @phase.macros_per_meal_3[:fat_grams].round(0) %></td>
        <td><%= ((@phase.fat_grams / 10) / 3).round(1) %></td>
    </tr>
     <tr>
        <td>Carbohydrates</td>
        <td><%= @phase.macros_per_meal_3[:carb_grams].round(0) %></td>
        <td><%= ((@phase.carb_grams / 30) / 3).round(1) %></td>
    </tr>
</table>
<br>
<h2>Macros: 4 Meals Per Day </h2>
<table>
    <tr>
        <th>Nutrient</th>
        <th>Grams / Meal</th>
        <th>Servings / Meal</th>
    </tr>
    <tr>
        <td>Protein</td>
        <td><%= @phase.macros_per_meal_4[:protein_grams].round(0) %></td>
        <td><%= ((@phase.protein_grams / 25) / 4).round(1) %></td>
    </tr>
     <tr>
        <td>Fats</td>
        <td><%= @phase.macros_per_meal_4[:fat_grams].round(0) %></td>
        <td><%= ((@phase.fat_grams / 10) / 4).round(1) %></td>
    </tr>
     <tr>
        <td>Carbohydrates</td>
        <td><%= @phase.macros_per_meal_4[:carb_grams].round(0) %></td>
        <td><%= ((@phase.carb_grams / 30) / 4).round(1) %></td>
    </tr>
</table>
<br>
<h2>Macros: 5 Meals Per Day </h2>
<table>
    <tr>
        <th>Nutrient</th>
        <th>Grams / Meal</th>
        <th>Servings / Meal</th>
    </tr>
    <tr>
        <td>Protein</td>
        <td><%= @phase.macros_per_meal_5[:protein_grams].round(0) %></td>
        <td><%= ((@phase.protein_grams / 25) / 5).round(1) %></td>
    </tr>
     <tr>
        <td>Fats</td>
        <td><%= @phase.macros_per_meal_5[:fat_grams].round(0) %></td>
        <td><%= ((@phase.fat_grams / 10) / 5).round(1) %></td>
    </tr>
     <tr>
        <td>Carbohydrates</td>
        <td><%= @phase.macros_per_meal_5[:carb_grams].round(0) %></td>
        <td><%= ((@phase.carb_grams / 30) / 5).round(1) %></td>
    </tr>
</table>
<br>
<% if @phase.name == 'performance' %>
    <%= button_to "Keto Phase Macros", "/#{@person.id}/results/#{@person.phases[1].id}", method: :get %>
<% elsif @phase.name == 'keto' %>
    <%= button_to "IF Phase Macros", "/#{@person.id}/results/#{@person.phases[2].id}", method: :get %>
<% elsif @phase.name == 'Intermittent fasting - fasting days' %>
    <%= button_to "IF Phase - Non Fasting Days Macros", "/#{@person.id}/results/#{@person.phases[3].id}", method: :get %>
<% end %>